NEXT_PUBLIC_THIRDWEB_CLIENT_ID=1d781addaf9a945c963d5958b5ccc40e
NEXT_PUBLIC_AGENT_GUILD_NETWORK=celo-mainnet
NEXT_PUBLIC_CELO_MAINNET_AGENT_REGISTRY_ADDRESS=0x5e90f7f34d3e4c6f552db647263d697ffd575a18
NEXT_PUBLIC_CELO_MAINNET_FREELANCE_ESCROW_ADDRESS=0x6401f4ecce2be9550f7991a080e847f9df06b0f0
